// @mixin transition($props..., $duration: var(--motion-base), $easing: var(--easing-standard)) {
//   transition-property: $props;
//   transition-duration: $duration;
//   transition-timing-function: $easing;
// }
@mixin transition(
  $duration: var(--motion-base),
  $easing: var(--easing-standard),
  $props...
) {
  transition-property: $props;
  transition-duration: $duration;
  transition-timing-function: $easing;
}
